::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    z-index: -1;
    background-color: #f9f9f9;
}

.mainsection {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 70.71%), url("Hero-Image.png");
    background-size: cover;
    z-index: 2;
}

.mainsection-moveable {
    z-index: -1;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 70.71%), url("Hero-Image.png");
    background-size: cover;
    z-index: 2;
}

.mainsectiontext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    z-index: 2;
}

@media screen and (max-height: 500px) {
    .mainsectiontext {
        top: 220px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 850px) {
    .nav-links {
        display: none;
    }
    .nav-hamburger {
        display: block;
    }
    .brandname {
        margin-right: 0px;
    }
    .login {
        float: left;
        margin-right: 0px;
    }
}

@media screen and (max-width: 500px) {
    .brandname {
        font-size: 0.5em;
        margin-right: 0px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .nav-logo {
        height: 20px;
        width: 20px;
    }
}

@media screen and (min-width: 851px) {
    .nav-hamburger {
        display: none;
    }
}

@media screen and (max-height: 550px) {
    .signup-box {
        margin-top: 200px;
    }
    .login-box {
        margin-top: 150px;
    }
    .mainsection-moveable {
        height: 700px;
    }
}

.nav-hamburger-times {
    display: none;
    float: right;
    font-size: 17.5px;
    margin-right: 30px;
    margin-top: 0;
    transition: 500ms;
}

.hamburger-links {
    top: 54px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.nav-logo {
    height: 40px;
    width: 40px;
}

.nav-hamburger {
    float: right;
    font-size: 17.5px;
    margin-right: 30px;
    margin-top: 0;
    transition: 500ms;
}

.nav-hamburger-times:hover {
    cursor: pointer;
    color: #197BBD;
    transform: rotate(-180deg);
}

.nav-hamburger:hover {
    cursor: pointer;
    color: #197BBD;
    transform: rotate(180deg);
}

.loginsignup {
    float: right;
    margin-right: 20px;
    margin-top: 0;
}

.nav-links {
    background-color: #bbbbbb;
}

.nav-links-responsive {
    top: 54px;
    clear: both;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

nav {
    height: 50px;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
    padding-top: 0;
    background-color: #bbbbbb;
    z-index: 999;
}

nav .active {
    color: #197BBD;
}

nav ul {
    list-style-type: none;
    z-index: 999;
}

nav li {
    display: inline;
    float: left;
    margin-right: 2%;
}

nav li a:hover {
    transition: 200ms;
    color: #197BBD;
    text-decoration: solid;
    transform: scale(1.1);
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    transition: 250ms;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 80px;
}

.dropdown-content {
    display: none;
    top: 35px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.brandname {
    margin-right: 100px;
}

.brandname a:hover {
    background-color: #bbbbbb;
    color: #000000;
}

.hero-button {
    outline: 2px solid #FFFFFF;
    outline-offset: 3px;
    font-size: 39%;
    top: 100%;
    height: 50px;
    width: 100px;
    padding: 5px 10px;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    z-index: 2;
    transition: 200ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-button:hover {
    padding-bottom: 8px;
    transform: scale(1.03);
}

footer {
    position: absolute;
    bottom: 50;
    width: 100%;
    height: 200px;
    background-color: #000000;
    z-index: 999;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    height: 400px;
    padding: 40px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
}

.signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    height: 480px;
    padding: 40px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
}

.login-box h1 {
    margin: 0px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #197BBD;
}

.signup-box h1 {
    margin: 0px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #197BBD;
}

.textbox {
    margin: 0px 0px 50px 0px;
    border: none;
    background: transparent;
    font-size: 1em;
    outline: none;
    height: 30px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: #197BBD;
}

.textbox input {
    border-radius: 5px;
    outline-color: #197BBD;
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #197BBD;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 1.2rem;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 10px;
    transition: 250ms;
}

.signup-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #197BBD;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 1.2rem;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 10px;
    transition: 250ms;
}

.login-btn:hover {
    background-color: #0f9af7;
    padding-bottom: 4px;
}

.signup-btn:hover {
    background-color: #0f9af7;
    padding-bottom: 4px;
}

.forgot-password {
    float: right;
    color: #197BBD;
}