::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    z-index: -1;
}

.mainsection {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 70.71%), url("Hero-Image.png");
    background-size: cover;
    z-index: 2;
}

.mainsectiontext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    z-index: 2;
}

@media screen and (max-width: 850px) {
    .nav-links {
        display: none;
    }
    .nav-hamburger {
        display: block;
    }
    .brandname {
        margin-right: 10px;
    }
}

@media screen and (max-width: 500px) {
    .brandname {
        font-size: 5px;
        margin-right: 10px;
    }
}

.nav-hamburger {
    float: right;
    font-size: 25px;
    margin: 30px;
    margin-top: 0;
    transition: 500ms;
}

.nav-hamburger:hover {
    cursor: pointer;
    color: #197BBD;
    transform: rotate(180deg);
}

.nav-links {
    background-color: #bbbbbb;
}

nav {
    height: 50px;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
    padding-top: 0;
    background-color: #bbbbbb;
    z-index: 999;
}

nav .active {
    color: #197BBD;
}

nav ul {
    list-style-type: none;
    z-index: 999;
}

nav li {
    display: inline;
    float: left;
    margin-right: 2%;
}

nav li a:hover {
    transition: 200ms;
    color: #197BBD;
    text-decoration: solid;
    transform: scale(1.1);
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    transition: 250ms;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 80px;
}

.dropdown-content {
    display: none;
    top: 54px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.brandname {
    margin-right: 100px;
}

.brandname a:hover {
    background-color: #bbbbbb;
    color: #000000;
}

.hero-button {
    outline: 2px solid #FFFFFF;
    outline-offset: 3px;
    font-size: 39%;
    height: 50px;
    width: 100px;
    padding: 5px 10px;
    margin: 10% 40% 0% 40%;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    z-index: 2;
    transition: 200ms;
}

.hero-button:hover {
    padding-bottom: 8px;
    transform: scale(1.03);
}